@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

:root{
    --fonte1: verdana,Geneva, Tahoma, sans-serif;
    --fonte2:'Passion One', cursive;
    --fonte3:'Sriracha', cursive;
}

*{
    margin: 0px ;
    padding:0px ;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);   
}

header {
    font-family: var(--fonte2);
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px; 
    /* text-transform: uppercase; */
    font-variant: small-caps;
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
    padding-top: 5px
}

a{
    font-size: 2%vw;
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 3px;
    border-radius: 5px;
    transition-duration: 0.3s;
}

section{
    font-size: 1.5em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 3.5%vw;
    padding-left: 30px;
    font-family: var(--fonte3);
}

section > p {
    padding-bottom: 2em;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(48, 45, 45);
    color: white;
    text-shadow: 1px 1px 0px black;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.63);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.534);
}

section#img01{
    background-image: url("../imagens/background001.jpg");
    background-position: right center;
}


section#img02{
    background-image: url("../imagens/background002.jpg");

}

footer{
    background-color: black;
    color:white;
    padding: 8px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}