@charset "UTF-8";

/* 
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e
*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
}
:root {
    --cor0:#c5ebd6;
    --cor2:#83e1ad;
    --cor3:#35b970;
    --cor4:#24804d;
    --cor5:#1a5c37;
    --cor6:#063d1e;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque:'Bebas Neue', sans-serif;
    --fonte-android: 'Android', sans-serif;

}

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor0);
    font-family:var(--fonte-padrao)
}

a.externo:after{
    content: '\1F517\00A0';
    
}

header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    background-color: var(--cor4);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.486);
    font-weight: normal;
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    font-weight: normal;
    padding-right: 10px;
    padding-left: 10px;
    color: white;
    max-width: 500px;
    margin: auto;
    padding-bottom: 30px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.486);
}

nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.247);
}

nav > a {
    align-items: stretch;
    border-radius: 5px;
    color: var(--cor0);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.35s;
}

nav > a:hover{
    color: var(--cor5);
    background-color: var(--cor3);
}

main{
    margin: auto;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.39);
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

main img {
    width: 100%;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
}

main h2{
   color: var(--cor4);
   font-size: 1.6em;
   background-image: linear-gradient(to right,var(--cor2),transparent);
   text-indent: 8px;
   font-family: var(--fonte-android); 
   font-weight: normal;
}

main p {
    margin: 15px 0px; 
    text-align: justify;
    text-indent: 30px;
    line-height: 1.6em;
    font-size: 1em;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
    margin: 15px 0px; 
    text-align: justify;
    text-indent: 30px;
    line-height: 1.6em;
    font-size: 1em;

}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor0);
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor4);
    transition-duration: 0.3s;
}

div.video{
    background-color: var(--cor6);
    margin: 0px -20px 30px -20px ;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: var(--cor0);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.322);
}

aside > h3{
    background-color: var(--cor4);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer{
    background-color: var(--cor6);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
