body{
    animation: gradient 6s ease alternate infinite;
    background:linear-gradient(-45deg, #ee7752,#e73c7e,#23a6d5,#23d5ab)no-repeat; 
    background-size:300% 300%;
    font-family:sans-serif;
    display:flex;
    justify-content: center;
    align-items:center;
    color:white;
    height:100vh;
    font-size:300%;
    
    }
      @keyframes gradient{
        0%{
            background-position:0 50%;

        }
        50%{
            background-position: 100% 50%;
        }
        100%{
            background-position: 0 50%;
        }
      }